//colours

$main-blue:#184DD1;
$dark-blue:#003489;
$background-blue:#E1EDFF;
$black:black; 

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html {
    font-size: 55%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

p{
    font-size: 15px;
}

@mixin bth-theme {
    display: inline-block;
    justify-content: center;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: $dark-blue;
    color: $white;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .3rem;
    font-weight: 500;
    text-align: center;
    &:hover {
    background: $background-blue;
    }
} 

@mixin strip-banner-theme {
    background-color: $background-blue;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    margin: 0 auto 0 auto;
    .container {
        padding-right: 15px;
    }
    img{
        height: 300px;
    }
    h1 {
        margin: 0;
    }
    p {
        margin-right: 15px;
    }
    .btn__marketplace {
        @include btn-theme;
    }
}
